services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092"]
      interval: 5s
      timeout: 5s
      retries: 10  

    volumes:
      - kafka_kraft:/var/lib/kafka/data

  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db  
    environment: 
      MONGO_INITDB_ROOT_USERNAME: my_db
      MONGO_INITDB_ROOT_PASSWORD: my_password
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping').ok"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s   


  ingestion_service:
    build: /ingestion_service
    ports:
      - 8000:8000
    environment:  
      KAFKA_URI: kafka:9092
      MONGODB_LOADER_URL: http://mongodb_loader_service:8080/post_to_mongodb
    depends_on: 
        kafka:
            condition: service_healthy  
  mongodb_loader_service:
    build: /mongodb_loader_service
    environment:
      USER: my_db
      PASSWORD: my_password   
      PORT: 27017
      HOST: mongo
    ports:
        - 8080:8080 
    depends_on:     
      mongo:
        condition: service_healthy     
  cleaning_consumer:
      build: /cleaning_consumer
      environment: 
        KAFKA_URI: kafka:9092 
      depends_on: 
        kafka:
            condition: service_healthy     
  analytics:
    build: /analytics
    environment:
      KAFKA_URI: kafka:9092      
    depends_on: 
        kafka:
            condition: service_healthy 
  elastic_consumer:
    build: /elastic_consumer    
    environment:
      ELASTIC_URI: http://elasticsearch:9200 
      KAFKA_URI: kafka:9092 
    depends_on: 
          kafka:
            condition: service_healthy  
          elasticsearch:
            condition: service_healthy    

  elastic_search:
      build: /search_service
      environment:
        ELASTIC_URI: http://elasticsearch:9200  
      depends_on:
          elasticsearch:
                condition: service_healthy 
      ports:
        - 8501:8501                   


  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.3.0
    container_name: elasticsearch
    environment:
      - node.name=es01
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    restart: unless-stopped
    healthcheck:
      test: [
        "CMD-SHELL",
        "curl --silent -f http://localhost:9200/_cluster/health?wait_for_status=green&timeout=1s || exit 1"
      ]  
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s 
      
volumes:
  kafka_kraft: 
  mongodb_data:  
  es_data:
